html {
  background-color: rgb(255, 255, 255);
}

body {
  margin: 10;
  font-family: system-ui;
  color: rgb(28, 28, 28);

}

footer {
  text-align: center;
  padding: 2em;
}

img {
  width: 300px;
}

html {
  scroll-behavior: smooth;
}

input,
label {
  display: block;
  padding: 8px;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 300px;
  border-radius: 1.0em;
}

button {
  border-radius: 1em;
  padding: 1em;
  width: 3000 px;
}

.modal-main {
  background-color: rgb(200, 218, 233);
  overflow: hidden;
}



.modal-body {
  overflow-y: scroll;
}
